<% layout('/layouts/boilerplate')%>
<div class="container">
    <div class="row">
        <form action="/welcome/<%= userData._id%>/gallery/add" method="POST" novalidate class="validated-form">
            <h1 class="text-dark">Enter image URL</h1>
            <input class="form-control" type="text" id="url" name="ImageData[imageURL]" required>
            <button class="btn btn-success mt-3">Add Image</button> 
        </form>
    </div>
</div>
