<% layout('/layouts/boilerplate')%>
<div class="container">
    <% for (let i = 0; i < images.length; i += 2) { %>
        <div class="row">
            <% for (let j = i; j < i + 2 && j < images.length; j++) { %>
                <div class="col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="<%= images[j].imageURL %>" class="card-img-top img-fluid" style="height: 350px; object-fit: cover;" alt="Image">
                        <div class="card-body">
                            <p class="card-text mb-0">Submitted By: <%= images[j].username %></p>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    <% } %>
</div>
