<% layout('../layouts/boilerplate')%>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-6">
                <div class="card bg-primary">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Image-Library</h5>
                        <p class="card-text text-dark">Welcome to image library application. Please log in or register.</p>
                        <a href="/login" class="btn btn-success">Login</a>
                        <a href="/register" class="btn btn-secondary">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </div>