<% layout('/layouts/boilerplate')%>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-6 bg-primary p-4">
                <h1 class="text-dark">Login Page</h1>
                <form action="/login" method="POST" novalidate class="validated-form">
                    <div class="mb-3">
                        <label class="form-label text-dark" for="email">Email</label>
                        <input class="form-control" type="text" id="email" name="user[email]"
                            placeholder="abc@gmail.com" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-dark" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="user[password]"
                            placeholder="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success ">Login</button>
                </form>
            </div>
        </div>
    </div>